extends layout

block content
    section.container
        include header
        .container
            form.form(method="POST" action="/conta/gastos")
                fieldset
                    div.form-group.form-inline.col-12
                        label.col-2(for="gasto_id") Codigo:
                        input.form-control.col-10#gasto_id(type="text", name="gasto_id" required)
                    div.form-group.form-inline.col-12
                        label.col-2(for="nombre") Nombre:
                        input.form-control.col-10#nombre(type="text", name="nombre" required)
                    div.form-group.form-inline.col-12form-group.form-inline.col-12
                        label.col-2(for="fecha") Fecha:
                        input.form-control.col-10#fecha(type="text", name="fecha" required)
                    div.form-group.form-inline.col-12
                        label.col-2(for="costo") Monto:
                        input.form-control.col-10#costo(type="text", name="costo" required)
                    div.form-group.form-inline.col-12
                        label.col-2(for="descripcion") Descripcion:
                        input.form-control.col-10#descripcion(type="text", name="descripcion" required)
                    div.form-group.form-inline.col-12
                        input.btn.btn-lg.btn-primary(type="submit", value="Agregar ")
