extends layout

block content
	section.container
		include header
		div.container
			form.form-horizontal(method="POST" action=`/conta/gasto/${data.gasto_id}`)
				fieldset.row
					div
						input#gasto_id(type="hidden", name="gasto_id", value= data.gasto_id required)
					div.form-group.form-inline.form-horizontal.col-12
						label.control-label.col-2(for="nombre") Nombre:
						input.form-control.col-10#nombre(type="text", name="nombre", value= data.nombre required)
					div.form-group.form-inline.col-12
						label.control-label.col-2(for="fecha") Fecha:
						input.form-control.col-10#fecha(type="text", name="fecha", value= moment(data.fecha).format('DD-MM-YYYY') required)
					div.form-group.form-inline.col-12
						label.control-label.col-2(for="costo") Costo:
						input.form-control.col-10#costo(type="text", name="costo", value= data.costo required)
					div.form-group.form-inline.col-12
						label.control-label.col-2(for="descripcion") Descripcion:
						input.form-control.col-10#descripcion(type="text", name="descripcion", value= data.descripcion required)
					div.form-group.form-inline.col-4.col-offset-2
						input.btn.btn-primary.btn-lg(type="submit", value="Editar")
						input(type="hidden", name="_method", value="PUT")
