html {}

a,
h1,
h2,
label {
    color: #1a1c1dd8
}

a:hover {
    opacity: .75;
}

fieldset {
    padding: 1rem;
    border: medium solid #7681c7;
    border-radius: 0.3%;
}

.logo {
    display: block;
    margin: 1rem auto;
    width: 450px;
    height: 150px;
    vertical-align: bottom;
    background: url("../img/nodejs-monitor.png") no-repeat center;
    background-size: contain;
}

.error {
    font-size: 1rem;
    padding: 1rem;
    background-color: #80BD01;
    color: #FFF;
}

.poster {
    max-width: 100px;
}

.table tr:nth-child(even) {
    background-color: #CCC;
}

.table tr:nth-child(odd):not(:first-child) {
    background-color: #EEE;
}

.button {
    padding: .5rem 1rem;
    color: #FFF;
    background-color: #80BD01;
    cursor: pointer;
}
